.app {
  width: 100%;
  height: 100%;
  position: fixed;
}

.canvas {
  width: 100%;
  height: 100%;
  min-width: 320px;
  background: radial-gradient(ellipse at var(--sun-position-x) var(--sun-position-y), var(--sky-color-start), var(--sky-color-end));
  position: fixed;
  top: 0;
  left: 0;
}
