.cloud {
  display: inline-block;
  width: 5rem;
  height: 5rem;
  margin: 2rem 1rem;
  animation: moving 60s linear infinite;
  animation-play-state: var(--cloud-move);
}

.cloud svg {
  position: relative;
}

.cloud svg path {
  fill: var(--cloud-color);
}

.cloud.big {
  width: 7rem;
  height: 7rem;
}

.cloud.small {
  width: 3rem;
  height: 3rem;
}

.cloud.top svg {
  transform: translateY(-1rem);
}

.cloud.bottom svg {
  transform: translateY(1rem);
}

@keyframes moving {
  0% {
    transform: translateX(100vw);
  }
  100% {
    transform: translateX(-100vw);
  }
}