.land {
  width: 30%;
  height: 60%;
  background: var(--land-color);
  position: absolute;
  right: 0;
  bottom: 0;
}

.land::before {
  content: "";
  width: 300%;
  height: 100%;
  background: var(--land-color);
  position: absolute;
  top: 0;
  left: -50%;
  transform: skew(-30deg);
}