.lighthouse {
  width: 6rem;
  height: 0;
  border-bottom: 12rem solid var(--lighthouse-body-color);
  border-left: 1.2rem solid transparent;
  border-right: 1.2rem solid transparent;
  position: absolute;
  left: 10%;
  top: -6rem;
}

.lighthouse::before,
.lighthouse::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
}

/* Roof */
.lighthouse::before {
  width: 0;
  height: 0;
  border-bottom: 3rem solid var(--lighthouse-roof-color);
  border-left: 2rem solid transparent;
  border-right: 2rem solid transparent;
  margin-top: -5.4rem;
  margin-left: -2rem;
}

/* Windows */
.lighthouse::after {
  width: 3.4rem;
  height: 2.4rem;
  background-image: linear-gradient(to right, transparent 2px, var(--lighthouse-lantern-color) 2px);
  background-color: transparent;
  background-size: 30% 94%;
  background-repeat: repeat-x;
  background-position: 50%;
  margin-top: -2.4rem;
  margin-left: -1.7rem;
  box-shadow: 0 4rem 0 -0.75rem var(--lighthouse-window-color), 0 7rem 0 -0.75rem var(--lighthouse-window-color), 0 10rem 0 -0.75rem var(--lighthouse-window-color);
}

.lighthouse-beam {
  position: absolute;
  top: -1.7rem;
  left: 50%;
}

.lighthouse-beam::before {
  content: '';
  display: block;
  width: 200vw;
  height: 80vh;
  border-radius: 50% 50%;
  background: radial-gradient(ellipse at center, var(--lighthouse-beam-color) 1%, transparent 50%, transparent 100%);
  position: absolute;
  top: -40vh;
  left: -100vw;
}
