.download {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
}

.download button {
  font-size: 0;
  display: block;
  width: 2rem;
  height: 2rem;
  background: white;
  border: 0 none;
  border-radius: 50%;
  box-shadow: 0 0 0 0.2rem rgba(255,255,255,.4);
  cursor: pointer;
  transition: transform .15s ease-out;
  transform: scale(1);
}

.download button:hover {
  transform: scale(1.2);
}
