:root {
  --sun-color-top: #fa8607;
  --sun-color-bottom: #fff57b;
  --ocean-color-top: #3aabd1;
  --ocean-color-bottom: #002a65;
  --lighthouse-body-color: #fafafa;
  --lighthouse-roof-color: #f0f0f0;
  --lighthouse-lantern-color: #fff;
  --lighthouse-window-color: #aaa;
  --land-color: #749454;
  --cloud-color: #f0f0f0;
  --cloud-move: 'running';
  --sky-color-start: #87ceeb;
  --sky-color-end: #47b9e6;
  --sun-position-x: 15%;
  --sun-position-y: 37%;
  --logo-position-x: 0;
  --logo-position-y: 0;
  --logo-size: 120px;
  --lighthouse-beam-color: rgba(255,255,255,.6);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
