.settings {
  position: absolute;
  right: 1rem;
  bottom: 4.5rem;
  z-index: 10;
}

.settings button.settings-open {
  font-size: 0;
  display: block;
  width: 2rem;
  height: 2rem;
  margin: 0;
  padding: 0;
  background: rgba(255,255,255,.8);
  border: 0 none;
  border-radius: 3px 3px;
  cursor: pointer;
  transition: transform .5s ease-out;
  transform: rotate(0deg);
  position: relative;
}

.settings button.settings-open::before,
.settings button.settings-open::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,.8);
  border-radius: 3px 3px;
  position: absolute;
  top: 0;
  left: 0;
}

.settings button.settings-open::before {
  transform: rotate(30deg);
}

.settings button.settings-open::after {
  transform: rotate(60deg);
}

.settings button.settings-open:hover {
  transform: rotate(360deg);
}

.settings-dialog {
  display: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
}

.settings-dialog.shown {
  display: block;
}

.settings-dialog-inner {
  width: 80%;
  height: 80%;
  background-color: rgba(255,255,255,.8);
  box-shadow: 0 0 24px -6px rgba(0,0,0,.4);
  position: absolute;
  top: 10%;
  left: 10%;
  overflow-y: auto;
}

.settings-form {
  padding: 2rem;
}

.form-row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.form-col {
  flex: 0 0 50%;
  flex-direction: column;
  max-width: 50%;
  margin: 1rem 0;
}

.form-col label,
.form-col input {
  display: block;
}

label {
  width: 50%;
  max-width: 50%;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

input {
  height: 2rem;
}

.settings-close {
  position: absolute;
  top: 10%;
  right: 10%;
  padding: 1rem;
}