.sun {
  display: block;
  width: 3rem;
  height: 3rem;
  background: linear-gradient(var(--sun-color-top), var(--sun-color-bottom));
  border-radius: 50% 50%;
  position: absolute;
  top: var(--sun-position-y);
  left: var(--sun-position-x);
}